body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #333;
}

main {
  max-witdh: 1200px;
}

header {
  background: #6c5ce7;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

h1 {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  margin: 0.3rem 0;
}

.precio {
  font-weight: bold;
  margin: 0.5rem 0;
}

button {
  background: #6c5ce7;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

button:hover {
  background: #574bdb;
}

#lista-elecciones {
  list-style: none;
  padding: 1rem 2rem;
}

#lista-elecciones li {
  background: white;
  margin: 0.5rem 0;
  padding: 0.7rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.borrar {
  background: #d63031;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
}

.borrar:hover {
  background: #c0392b;
}
